header {
  background-color: #00ADE7;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
}

.btn-entrar {
  background-color: #00ADE7;
  color: #FFF;
  border: 3px solid #FFF;
  border-radius: 35px 35px 35px 35px;
  box-shadow: 0px 0px 10px 0px rgb(251 251 251 / 98%);
  padding: 5px 20px;
  font-weight: 500;
}

.btn-criar {
  background-color: #02467D;
  color: #FFF;
  border: 2px solid #02467D;
  border-radius: 35px 35px 35px 35px;
  box-shadow: 0px 0px 10px 0px rgb(251 251 251 / 98%);
  padding: 5px 20px;
  font-weight: 500;
  margin-left: 10px;
}

.conteudo1 {
  background-image: url('/img/banner1.png');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 1rem 0;
  gap: 1rem;
}

.conteudo1 div {
  max-width: 500px;
}

.conteudo1-left,
.conteudo2-right,
.conteudo3-left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title1 {
  font-size: 52px;
  font-weight: 700;
  color: #00ADE7;
}

.subtitle1 {
  font-size: 31px;
  color: #004578;
  font-family: "Roboto", Sans-serif;
}

.btn1 {
  color: #FFF;
  font-size: 29px;
  font-weight: 500;
  text-shadow: 0px 0px 10px rgb(0 0 0 / 30%);
  background-color: #02467D;
  max-width: 400px;
}

.btn1:hover {
  color: #FFF;
}

.btn1,
.btn2,
.btn3 {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 52px;
  border-radius: 50px;
}

.conteudo2 {
  background-color: #00ADE7;
  background-image: url('/img/seguranca.png');
  background-position: top;
  background-repeat: no-repeat;
  background-position-y: 80px;
  background-position-x: 39%;
  background-size: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem 0;
  gap: 1rem;
}

.conteudo2 div {
  max-width: 685px;
} 

.title2 {
  font-size: 52px;
  font-weight: 700;
  color: #FFF;
  line-height: 60px;
}

.subtitle2 {
  font-size: 31px;
  color: #004578;
  font-family: "Roboto", Sans-serif;
}

.btn2 {
  font-size: 29px;
  font-weight: 500;
  background-color: #02467D;
  color: #FFF;
  max-width: 250px;
}

.btn2:hover {
  color: #FFF;
}

.conteudo3 {
  background-image: url('/img/banner2.png');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 1rem 0;
  gap: 1rem;
}

.conteudo3 div {
  max-width: 620px;
}

.title3 {
  font-size: 52px;
  font-weight: 700;
  color: #00ADE7;;
}

.subtitle3 {
  font-size: 31px;
  color: #004578;
  font-family: "Roboto", Sans-serif;
}

.btn3 {
  font-size: 29px;
  font-weight: 500;
  background-color: #02467D;
  color: #FFF;
  max-width: 350px;
}

.btn3:hover {
  color: #FFF;
}

.btn1:hover,
.btn2:hover,
.btn3:hover {
  transition: .2s;
  background-color: #002d51;
}

footer {
  background-color: #02467D;
  color: #FFF;
  padding: 80px 0px;
}

.footer-superior {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sociais {
  display: flex;
}

.sociais div {
  margin-right: 10px;
}

.sociais a {
  background-color: #1e5a8b;
  padding: 8px;
  border-radius: 3px;
}

.sociais a:hover {
  background-color: #29567b;
}

.sociais img {
  position: relative;
  top: -2px;
}

@media (max-width: 1000px) {
  .conteudo1 img, .conteudo2 img, .conteudo3 img {
    width: 300px;
  }
  .conteudo3 div {
    max-width: 500px;
  }
}

@media (max-width: 810px) {
  .conteudo1 img, .conteudo2 img, .conteudo3 img {
    width: 250px;
  }
  .title1, .title2, .title3 {
    font-size: 35px;
  }
  .subtitle1, .subtitle2, .subtitle3 {
    font-size: 25px;
  }
  .btn1, .btn2, .btn3 {
    font-size: 20px;
  }
}

@media (max-width: 650px) {
  .header {
    padding: 1rem;
    max-width: 100%;
    gap: 1rem;
  }
  .area-logo img {
    width: 120px;
  }
  .btns-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .btns-header button {
    font-size: 12px;
    padding: 5px 10px;
  }
  .btns-header .btn-criar {
    margin: 0px;
  }
  .conteudo1 img, .conteudo2 img, .conteudo3 img {
    width: 200px;
  }
  .title1, .title2, .title3 {
    font-size: 25px;
  }
  .title2 {
    line-height: 30px;
  }
  .subtitle1, .subtitle2, .subtitle3 {
    font-size: 15px;
  }
  .btn1, .btn2, .btn3 {
    font-size: 15px;
  }
}

@media (max-width: 470px) {
  .logo-footer img {
    width: 150px;
  }
}

@media (max-width: 450px) {
  .conteudo1,
  .conteudo2,
  .conteudo3 {
    flex-direction: column;
  }
  .conteudo1,
  .conteudo3 {
    padding: 1.5rem 1rem 0px;
  }
  .conteudo2 {
    padding: 3rem 1rem 1rem;
  }
  .conteudo1-right {
    text-align: center;
    margin-top: 10px;
  }
  .conteudo2-left {
    text-align: center;
  }
  .conteudo2 div {
    max-width: 500px;
  }
  .conteudo3-right {
    text-align: center;
    margin-top: 30px;
  }
}

@media (max-width: 370px) {
  .header {
    padding: 10px;
  }
  .area-logo img {
    width: 90px;
  }
}

@media (max-width: 310px) {
  .area-logo img {
    width: 70px;
  }
}